{% extends 'main/base.html' %}
{% block content %}

<div class="card">
  <h1>Education 🎓</h1>

  <p>
    My academic background has helped me build a strong foundation in
    programming, problem-solving, and software development concepts.
  </p>

  <ul>
    <li>
      <strong>Integrated M.Sc. in Information Technology</strong><br>
      <span>Currently in 3rd Year</span>
    </li>

    <li>
      <strong>Certified Software Programmer</strong><br>
      <span>IANT Institute</span>
    </li>
  </ul>
</div>

{% endblock %}
